In [9]:
from datasets import load_dataset
import pandas as pd

ds = load_dataset("H4438/Learn-LinearRegression")

In [10]:
ds

DatasetDict({
    train: Dataset({
        features: ['TV', 'Radio', 'Newspaper', 'Sales'],
        num_rows: 150
    })
    test: Dataset({
        features: ['TV', 'Radio', 'Newspaper', 'Sales'],
        num_rows: 50
    })
})

In [11]:
ds['train']

Dataset({
    features: ['TV', 'Radio', 'Newspaper', 'Sales'],
    num_rows: 150
})

In [15]:
df = pd.DataFrame(ds['train'])
df.head()

      TV  Radio  Newspaper  Sales
0   76.4   26.7       22.3   11.8
1  136.2   19.2       16.6   13.2
2  195.4   47.7       52.9   22.4
3  232.1    8.6        8.7   18.4
4   75.3   20.3       32.5   11.3

In [16]:
dt = pd.DataFrame(ds['test'])
dt.head()

      TV  Radio  Newspaper  Sales
0  193.2   18.4       65.7   20.2
1  217.7   33.5       59.0   19.4
2   75.5   10.8        6.0   11.9
3  239.8    4.1       36.9   17.3
4   88.3   25.5       73.4   12.9

In [17]:
print(df.shape, dt.shape)

(150, 4) (50, 4)

In [18]:
#NEW DATASET

from datasets import load_dataset

ds = load_dataset("scikit-learn/credit-card-clients")

C:\Users\Orang\anaconda3\envs\imagesAI\lib\site-packages\huggingface_hub\file_download.py:140: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\Orang\.cache\huggingface\hub\datasets--scikit-learn--credit-card-clients. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)
Generating train split: 100%|█████████████████████████████████████████| 30000/30000 [00:00<00:00, 136726.94 examples/s]

In [19]:
ds

DatasetDict({
    train: Dataset({
        features: ['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default.payment.next.month'],
        num_rows: 30000
    })
})

In [20]:
ds['train']

Dataset({
    features: ['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default.payment.next.month'],
    num_rows: 30000
})

In [21]:
df1 = pd.DataFrame(ds['train'])
df1.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [24]:
print(df1.columns)

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')