In [11]:
import numpy as np
import pandas as pd
from datasets import load_dataset

ds = load_dataset("H4438/Learn-LinearRegression")

In [12]:
df = pd.DataFrame(ds['train'])
df.head()
ds

DatasetDict({
    train: Dataset({
        features: ['TV', 'Radio', 'Newspaper', 'Sales'],
        num_rows: 150
    })
    test: Dataset({
        features: ['TV', 'Radio', 'Newspaper', 'Sales'],
        num_rows: 50
    })
})

In [13]:
dt = pd.DataFrame(ds['test'])
dt.head()

      TV  Radio  Newspaper  Sales
0  193.2   18.4       65.7   20.2
1  217.7   33.5       59.0   19.4
2   75.5   10.8        6.0   11.9
3  239.8    4.1       36.9   17.3
4   88.3   25.5       73.4   12.9

In [14]:
X_train = df[['TV', 'Radio', 'Newspaper']] 
y_train = df['Sales']
X_test = dt[['TV', 'Radio', 'Newspaper']] 
y_test = dt['Sales']

In [15]:

from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(X_train, y_train)

reg.predict(X_test)

array([17.05325754, 19.92137825,  9.86699496, 18.06079804, 12.14119777,
       13.84107872,  6.95906555, 20.39065453, 16.78855074, 20.01922865,
       12.22254466, 14.27281758, 10.72389713, 12.59579376, 11.42862445,
        8.89474872, 13.03673259, 19.33812043, 13.7074316 ,  8.72543224,
       20.64716659, 16.98156453,  9.76788899,  9.16058967,  7.79153914,
        8.01167203,  6.10246933, 12.38683257, 16.30760741, 10.40755519,
       15.59481236, 13.27118748, 14.8893821 , 20.83904589, 12.27202949,
        9.7895721 , 15.87050993,  9.35413039, 22.03291098,  7.08157881,
       23.57627411,  8.58858933, 15.80043215, 20.77324342, 14.49793502,
       11.64058277,  5.45463426, 21.05195114, 16.41872399, 16.5940692 ])

In [16]:
predicted = reg.predict(X_test)
print(predicted)

[17.05325754 19.92137825  9.86699496 18.06079804 12.14119777 13.84107872
  6.95906555 20.39065453 16.78855074 20.01922865 12.22254466 14.27281758
 10.72389713 12.59579376 11.42862445  8.89474872 13.03673259 19.33812043
 13.7074316   8.72543224 20.64716659 16.98156453  9.76788899  9.16058967
  7.79153914  8.01167203  6.10246933 12.38683257 16.30760741 10.40755519
 15.59481236 13.27118748 14.8893821  20.83904589 12.27202949  9.7895721
 15.87050993  9.35413039 22.03291098  7.08157881 23.57627411  8.58858933
 15.80043215 20.77324342 14.49793502 11.64058277  5.45463426 21.05195114
 16.41872399 16.5940692 ]

In [19]:
from sklearn.metrics import r2_score
score = r2_score(y_test, predicted)
print("The accuracy of our model is {}%".format(round(score, 2) *100))

The accuracy of our model is 92.0%